
.aboutContainer{
    padding: 4rem 7rem ; 
    margin-top: 3rem;
    position: relative;
}
.sectionHead{
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-family: var(--primary-font);
}
.sectionInfo{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  justify-content: space-between;
  align-items: center;
}
.sectionText {
  align-self: self-start;
}
.sectionText h3{
  font-family: "Poppins";
  font-weight: 700;
  font-size: 2.4rem;
  width: 80%;
  margin-top: 2rem;
}
.description-container{
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.descr-info p{
  font-family: "Dm sans";
  font-size: 1.2rem;
  color: rgb(77, 77, 77);
  margin-top: 0.2rem;
  width: 80%;
}
.section-logo{
  background-image: url("../../assets/images/logo.svg");
  background-position: center;
  background-size: contain;
  width: 25rem;
  height: 25rem;
  background-repeat: no-repeat;
  scale: 1.5;  
}
.abPosition{
  position: absolute;
  top: 10rem;
  left: -10rem;
}
.ss-screen{
display: none;
}



@media only screen and (min-width: 300px) and (max-width:480px) {

    .why-us-container{
      width: 100%;
overflow-x: hidden;
      padding: 5rem 1rem;
    }
    .section-info{
      display: flex;
      flex-direction: column;
    }
    .section-description h3{
      font-size: 1.4rem;
      width: 100%;
    }
    .descr-info p{
      width: 90%;
    }
    .ss-screen{
      display: block;
      margin: 1rem 4rem;
    }
   
    .lg-screen{
      display: none;
    }
    .g-1{
      display: none;
    }
    .descr-icons{
      gap: 5.5rem;
    }
    .descr-icons .vertical{
      height: 108px;
    }
    .gradient{
      filter: brightness(50%) blur(100px);
    }













    .section-logo{
      width: 15rem;
      height: 15rem;
      /* scale: 1.3; */

    }
    .whyUs-description p{
      font-size: 1.3rem;
      text-align: center;
    }
    .gradient{
      width: 15rem;
      height: 15rem;
      bottom: 6rem;
    }
    .ss-screen{
      display: block;
    }
    .lg-screen{
      display: none;
    }
  } 
    