.contactUs-container{
    padding: 12rem 7rem;
    display: flex;
    justify-content: space-between;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
}
.head h2{
    font-family: "Poppins";
    font-weight: 300;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.social-links {
    font-family: "poppins";
}
.bottom{
    display: flex;
    justify-content: space-between;
    font-family: "Poppins";
}
.social-links div{
    display: flex;
    gap: 1rem;
    margin-top: 0.8rem;
}
.address {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}



#c-sm-screen{
    display: none;
}



.contact-link{
    all: unset;
    font-family: "Poppins";
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: underline;
    color: rgb(83, 131, 83);
  
}
 #mail{
    color: rgb(131, 95, 95);
}
.contact-links{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 90%;
    margin: 3rem 0rem;
}

.contact-img{
    width: 30rem;
    height: 30rem;
}
























@media only screen and (min-width: 300px) and (max-width:480px) {

    .contactUs-container{
        flex-direction: column;
        padding: 7rem 1rem;
        height: 90vh;
    }
    .contact-info{
        height: 10rem;
        justify-content: space-between;

    }
    .head h2{
        font-size: 1.8rem;
    }
    
    .contact-details{
        width: 100%;
        margin-bottom: 2rem;
    }
    #c-sm-screen{
        display: flex;
        font-family: "Poppins";
        justify-content: space-between;
        
    }
    .contact-img{
        display: none;
    }
    .contact-links{
        align-items: start;
        /* height: 5rem; */
        /* flex-direction: column; */
    }
}