.contactUs-container{
    padding: 7rem 7rem;
    display: flex;
    justify-content: space-between;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
}
.head h2{
    font-family: "Poppins";
    font-weight: 300;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.head p{
    font-family: "Dm sans";
    margin-top: 4.5rem;
    color: rgb(117, 121, 117);
    font-size: 1.1rem;
}
.social-links {
    font-family: "poppins";
}
.bottom{
    display: flex;
    justify-content: space-between;
    font-family: "Poppins";
}
.social-links div{
    display: flex;
    gap: 1rem;
    margin-top: 0.8rem;
}
.address {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


#c-sm-screen{
    display: none;
}











@media only screen and (min-width: 300px) and (max-width:480px) {

    .contactUs-container{
        flex-direction: column;
        padding: 5rem 1rem;
    }
    .contact-info{
        height: 10rem;
        justify-content: space-between;

    }
    .head h2{
        font-size: 1.8rem;
    }
    
    .form{
        width: 100%;
        margin: 1rem;
    }
    #c-sm-screen{
        display: flex;
        font-family: "Poppins";
        justify-content: space-between;
        
    }
}