
.hero{
    height: 100vh;
    padding: 12rem 7rem;
    background-image: url("../assets/images/10.png");
    background-position: center;
    background-size: cover;
  
  
}
.hero-text p{
   padding: 2rem 0rem;
   z-index: 100;
   font-family: "syne", sans-serif;
  font-size: 4rem;
  text-align: center;
  line-height: 150%;
  font-weight: bold;
  position: relative;
  
}
.hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .hero-text button{
  all: unset;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
  background-color: #dcdcdc;
  width: 10rem;
  color: #0e0e0e;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }


.doodle{
  width: 70px;
  height: 90px;
  scale: 0.5;
  background-position: center;
  background-size: cover;
  position: absolute;
}
.d1{
  background-image: url("../assets/images/doodle3.png");
  right: 11rem;
  top: 10rem;
  /* animation: sliderShape 3s linear infinite; */

}
.d2{
  background-image: url("../assets/images/doodle3.png");
  /* animation: sliderShape 3s linear infinite; */

}

.blob1{
  background: #A8321E;
  background: linear-gradient(180deg, #e75e45, #dcac5f);
  top: 10rem;
  right: 15rem;
}
.blob2{
  background: #A8321E;
  background: linear-gradient(180deg, #e75e45, #dcac5f);
  top: 10rem;
  left: 10rem;
}
.blob{
  width: 35rem;
  height: 25rem;
  position: absolute;
  opacity: 0.4;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  animation: sliderShape 5s linear infinite;
  filter: blur(10px) brightness(60%);
}
.typewriter{
  color: rgb(160, 157, 102);
}



  @keyframes sliderShape {
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(20px,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,15px,20px) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0px,-30px,0) rotateZ(0.01deg);
    }
  }





