
.hero{
    height: 100vh;
    padding: 12rem 7rem;
    background-image: url("../assets/images/10.png");
    background-position: center;
    background-size: cover;
  
  
}
.hero-container{
  display: flex;
  gap: 3rem;
}
.hero-logo{
  background-image: url("../assets/images/logo.png");
  height: 20rem;
  width: 20rem;
  scale: 1.5;
  background-position: center;
  background-size: contain;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  background-repeat: no-repeat;
}
.hero-description p{
   padding: 2rem 0rem;
   /* z-index: 100; */
   font-family: "syne", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  line-height: 150%;
  font-weight: bold;
  position: relative;
  color: rgb(252, 249, 231);
  width: 50rem;
  height: 15rem;

  
}
.hero-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
 .hero-description button{
  all: unset;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
  background-color: #dcdcdc;
  width: 10rem;
  color: #0e0e0e;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
 }


.doodle{
  width: 70px;
  height: 90px;
  scale: 0.5;
  background-position: center;
  background-size: cover;
  position: absolute;
}
.d1{
  background-image: url("../assets/images/doodle3.png");
  right: 8rem;
  top: 10rem;
  /* animation: sliderShape 3s linear infinite; */

}
.d2{
  background-image: url("../assets/images/doodle3.png");
  /* animation: sliderShape 3s linear infinite; */

}

.blob1{
  background: #A8321E;
  background: linear-gradient(180deg, #e75e45, #dcac5f);
  top: 10rem;
  right: 15rem;
}
.blob2{
  background: #A8321E;
  background: linear-gradient(180deg, #e75e45, #dcac5f);
  top: 10rem;
  left: 10rem;
}
.blob{
  width: 35rem;
  height: 25rem;
  position: absolute;
  opacity: 0.4;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  animation: sliderShape 5s linear infinite;
  filter: blur(10px) brightness(60%);
}
.typewriter{
  color: rgb(160, 157, 102);
}



 





