
.hero{
    height: 100vh;
    padding: 14rem 7rem;
    /* background-image: url("../assets/images/10.png"); */
 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    z-index: 100;  
}
.hero-container{
  display: flex;
  gap: 6rem;

}

.hero-logo{
  background-image: url("../assets/images/logo.png");
  height: 20rem;
  width: 20rem;
  scale: 1.5;
  background-position: center;
  background-size: contain;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  background-repeat: no-repeat;
}
.hero-description p{
   font-family: "poppins", sans-serif;
  font-size: 3.5rem;
  text-align: left;
  line-height: 150%;
  font-weight: bold;
  position: relative;
  color: rgb(252, 249, 231);
  width: 50rem;
  height: 15rem;
  z-index: 100;

  
}
.hero-description{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}
 .hero-description button{
  all: unset;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
  background-color: #dcdcdc;
  width: 10rem;
  color: #0e0e0e;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
 }





.typewriter{
  color: rgb(76, 99, 75);
}

.blob-effect{
  width: 20rem;
  height: 20rem;
  position: absolute;
  z-index: -1;
  border-radius:500px;
  filter: blur(80px) brightness(90%);
  background-color: rgb(69, 120, 73);
}
.b-two{
  top: 0rem;
  right: -0rem;
}
.b-one{
  bottom: 0rem;
  left: -5rem;
}



 





