
.why-us-container{
    padding: 7rem 7rem ; 
    margin-top: 5rem;
    position: relative;
}

.section-info{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  justify-content: space-between;
  align-items: center;
}
.section-description {
  align-self: self-start;
}
.section-description h3{
  font-family: "Poppins";
  font-weight: 400;
  font-size: 2.4rem;
  width: 70%;
}
.description-container{
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.descr-icons{
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.descr-icons svg{
  background-color: #2D2D2D;
  border-radius: 500px;
  padding: 0.4rem;
  text-align: center;
  z-index: 100;
}
.descr-icons .svg{
  position: relative;
}
.descr-icons .vertical{
  border-left: 2px solid rgb(249, 249, 249);
  height: 100px;
  position: absolute;
  left: 1rem;
  z-index: -1;
  top: 1rem;
  
}

.descr-info{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.descr-info h6{
  font-family: "Poppins";
  font-weight: 500;
  color: #548553;
  font-size: 1.2rem;
}
.descr-info p{
  font-family: "Dm sans";
  font-size: 1rem;
  color: grey;
  margin-top: 0.5rem;
  width: 70%;
}
.section-logo{
  background-image: url("../assets/images/logo.png");
  background-position: center;
  background-size: contain;
  width: 25rem;
  height: 25rem;
  background-repeat: no-repeat;
  scale: 1.5;
  filter: brightness(70%);
  
}

.g-1{
  top:  10rem;
  right: 0rem;
  width: 10rem;
  overflow: hidden; /* Clip the content to fit the border-radius */
  border-radius:   500px 0 0 500px   ; 
  opacity: 0.5;
  
}
.g-2{
  left: -5rem;
  bottom: 8rem;
}
.ss-screen{
display: none;
}



  @media only screen and (max-width: 600px) {
    .why-us-container{
      width: auto;
      padding: 5rem 1rem;
    }
    .section-info{
      display: flex;
      flex-direction: column;
    }
    .section-description h3{
      font-size: 1.4rem;
      width: 100%;
    }
    .descr-info p{
      width: 100%;
    }
    .ss-screen{
      display: block;
      margin: 1rem 4rem;
    }
   
    .lg-screen{
      display: none;
    }
    .g-1{
      display: none;
    }
    .descr-icons{
      gap: 5.5rem;
    }
    .descr-icons .vertical{
      height: 108px;
    }
    .gradient{
      filter: brightness(50%) blur(100px);
    }













    .section-logo{
      width: 15rem;
      height: 15rem;
      scale: 1.3;

    }
    .whyUs-description p{
      font-size: 1.3rem;
      text-align: center;
    }
    .gradient{
      width: 15rem;
      height: 15rem;
      bottom: 6rem;
    }
    .ss-screen{
      display: block;
    }
    .lg-screen{
      display: none;
    }
  } 
    