.nav {
  padding: 2rem 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.nav-scrolled{
  padding: 1.5rem 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-backdrop-filter: blur(70px);
backdrop-filter: blur(36px);
  transition: all 0.5s ease;
}
.nav-links{
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 500;

}

.nav p, .nav-scrolled p {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: rgb(205, 207, 191);
  padding: 0rem 0.8rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.nav p:hover, .nav-scrolled p:hover {
  background-color: rgb(205, 207, 191);

  color: #0e0e0e;
}
.nav h3, .nav-scrolled h3 {
  font-family: "dm sans";
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(205, 207, 191);

}
.nav h5, .nav-scrolled h5 {
  font-family: "dm sans";
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgba(205, 207, 191, 0.516);
  text-align: left;
  display: flex;
  gap: 0.4rem;
  align-items: center;

}
.nav-company{
  display: flex;
  gap: 15rem;
  align-items: center;
}
#contact{
  border-radius: 50px;
  padding: 0.4rem 0.5rem;
  border: 1px solid rgb(40, 66, 40);
  color: rgb(91, 124, 91);
  backdrop-filter: blur(30px) saturate(100%);
}
/* Nav styles end */


/* marquee feature styles */
.marquee-text{
  font-family: "Poppins";
  font-size: 1rem;
  padding: 0.8rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.9rem;
}
.marquee{
  background-color: #0e0e0e;
  border-top: 1px  solid white;
  border-bottom: 1px  solid white;

}


/* Footer styles */
.footer{
  width: 100%;
  padding: 5rem 5rem  3rem;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border-top: 1px solid rgb(115, 111, 111);
  margin-bottom: 1px;
  background-color: #0e0e0e;
  color: rgba(227, 227, 223, 0.794);
}
.footer .info{
  display: flex;
  gap: 12rem;
  align-items: center;
  line-height: 204%;
  font-size: 1.2rem;

}
.address{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.address h1{
  font-family: "Oswald";
}
.copyrights{
}