.contactPropLinks{
  color: black!important;
  font-family: "Poppins", sans-serif;

}
/* Nav Bar */



/* marquee feature styles */
.marquee-text{
  font-family: "Poppins";
  font-size: 1rem;
  padding: 0.8rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.marquee{
  background-color: var(--secondary-color);
  border-top: 2px  solid rgb(24, 42, 27);
  border-bottom: 2px  solid rgb(24, 42, 27);
  width: 100%;
  overflow: hidden;
  color: var(--primary-color);
}

/* Footer styles */
.footer{
  padding: 4rem 7rem;
  font-family: "Poppins";
  position: relative;
  background-color: #548553;
  color: #060606;
}
.footer .info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.info .name{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.footer-details-info p{
  margin-bottom: 0.2rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}
.footer-details-info h5{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.footer-details-info {
  align-self: start;
  cursor: pointer;
}

.fg{
  right: 2rem;
  bottom: 0rem;
}



/* responsive styles */

@media only screen and (max-width: 600px)  {
  .nav-links{
   gap: 0.4rem;
  }
  .nav, .nav-scrolled{
    justify-content: space-between;
    padding: 2rem 2rem;
  }
  .hero-description p{
    display: none;
  }
  .nav h5, .nav-scrolled h5{
    display: none;
  }
  .nav h3, .nav-scrolled h3{
    font-size: 0.8rem;
  }
  
  .nav p, .nav-scrolled p{
    font-size: 0.7rem;
  }

} 
@media only screen and (min-width: 300px) and (max-width:480px) {
.footer{
  padding: 4rem 1rem;
}
.footer .info{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.info .name{
  font-size: 1.4rem;
  letter-spacing: normal;
  align-self: start;
}
.details-info-list, .contact-info-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-info-list{
  gap: 1rem;
}
}