
.service-container{
  padding: 2rem 7rem;
  margin: 5rem 0rem;
}

.sg-1{
  left: -16rem;
  top: 8rem;
}
.sg-2{
  right: 5rem;
  top: 5rem;
  z-index: -1;
  opacity: 0.7;
}
.sg-2.sg-2-reverse{
  right: -7rem;
  top: 5rem;
}
.sg-1.sg-1-reverse{
  left: 5rem;
  top: 5rem;
  opacity: 0.7;
}
.services{
  display: flex;
  flex-direction: column;
  gap: 6rem;

}
.service{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.service.normal {
  flex-direction: row;
}

.service.reverse {
  flex-direction: row-reverse;
}
.services-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;

}
.services-info-head{
  display: flex;
  gap: 0.6rem;
  margin-top: 2.5rem;
}
.services-info-head p{
  justify-self: self-start;
  font-size: 1.1rem;
  font-family: "Dm sans";
  opacity: 0.7;

}
.services-info-head h5{
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Poppins";
  color: #548553;


}
.services-info-descr{
  font-family: "Dm sans";
  font-size: 1.2rem;
  color: #767c77;
}
.services-info-list h3{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.3rem;
  color: #548553;
}
.services-info-list p{
  font-family: "dm sans";
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.s-list{
  padding: 1rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
  gap: 1rem;
  font-size: 1rem;
  color: rgb(211, 213, 211);
  font-weight: 500;
}

.section-img{
 width: 30rem;
  height: 30rem;
  margin-top: 3rem;
}













@media only screen and (max-width: 480px) {
  .service-container{
    padding: 0rem 1rem;
  }
  .service.normal, .service.reverse{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services-info, .s-list{
    width: 100%;
  }
  .s-list{
    grid-template-columns: 1fr 1fr;
  }
  .services-info-head h5{
    font-size: 1.4rem;
  }
  .services-info-descr{
    font-size: 1rem;
  }
  .services-info-list h3{
    font-size: 1.1rem;
  }
  /* gradients */
  .sg1, .sg-2{
    display: none;
  }
 /* image */
  .section-img{
    width: 15rem;
    height: 15rem;
    overflow-x: hidden;
    align-self: center;
    margin: 2rem 0rem ;
  }
  
  
}


